include "colors/mocha.kdl"
include "settings/layout.kdl"
include "settings/binds.kdl"
include "settings/monitor.kdl"
include "settings/input.kdl"
include "settings/other.kdl"
include "settings/window-rules.kdl"

