@import "mocha.css";

* {
  font-family: "Iosevka Nerd Font", "IBM Plex Sans Arabic";
  font-size: 14px;
  font-weight: 700;
  min-height: 0;
  border: none;
  box-shadow: none;
}

window#waybar {
  background: @crust;
  color: @text;
  border: 2px solid @mauve;
  border-top: none;
}

#workspaces,
#clock,
#cpu,
#memory,
#network,
#pulseaudio,
#language,
#custom-media,
#custom-run,
#custom-power {
  border-radius: 4px;
  color: @crust;
  margin: 8px 5px;
  padding: 0 14px;
  transition: all 180ms ease;
}

#workspaces {
  padding: 2px 6px;
  margin-left: 10px;
}

#workspaces button {
  color: @overlay1;
  background: transparent;
  padding: 2px 7px;
  margin: 3px;
  border-radius: 4px;
  transition: all 180ms ease;
}

#workspaces button:hover {
  color: @crust;
  background: @yellow;
}

#workspaces button.active,
#workspaces button.focused {
  background: @teal;
  color: @crust;
}

#workspaces button.urgent {
  background: @red;
  color: @base;
}

#clock {
  background: @mauve;
}

#language {
  background: @yellow;
  min-width: 42px;
}

#pulseaudio {
  background: @blue;
}

#pulseaudio.muted {
  background: @overlay0;
  color: @text;
}

#network {
  background: @sky;
  margin-right: 15px;
}

#network.disconnected {
  background: @red;
}
