@import "mocha.css";

* {
  font-family: "Iosevka Nerd Font", "IBM Plex Sans Arabic";
  font-size: 14px;
  font-weight: 700;

  min-height: 0;

  border: none;
  box-shadow: none;
}

window#waybar {
  background: transparent;
  color: @text;
}

window#waybar > box {
  background: #11111b;
  border-radius: 9px;
}

#workspaces,
#custom-distro,
#custom-media,
#network,
#pulseaudio,
#language,
#clock {
  margin: 10px 5px;
  padding: 1px 22px;
  border-radius: 6px;
  color: @text;
  transition: all 180ms ease;
}

.modules-left {
  margin-left: 15px;
}

.modules-right {
  margin-right: 15px;
}

#workspaces {
  margin-left: 10px;
  padding: 0 6px;

  border: 1px solid @mauve;
}

#workspaces button {
  margin: 3px;
  padding: 1px 9px;

  border-radius: 3px;

  color: @subtext1;
  background: transparent;

  transition: all 180ms ease;
}

#workspaces button:hover {
  background: @base;
  color: @text;
}

#workspaces button.active,
#workspaces button.focused {
  padding: 1px 22px;

  color: @crust;
  background: linear-gradient(135deg, @mauve, @pink);
}

#workspaces button.urgent {
  background: @red;
  color: @crust;
}

#clock {
  color: @crust;
  background: linear-gradient(135deg, @red, @maroon);
}

#custom-media {
  color: @crust;
  background: linear-gradient(135deg, @flamingo, @rosewater);
}

#custom-distro {
  font-size: 20px;
  font-weight: 900;
  color: @red;
}

#network {
  color: @sky;
}

#network.disconnected {
  color: @red;
}

#pulseaudio {
  color: @blue;
}

#pulseaudio.muted {
  color: @overlay2;
}

#custom-distro,
#network,
#pulseaudio {
  margin: 0;
  padding: 0 15px;
}
