/* Regular */
@define-color blk #15161e;
@define-color red #f7768e;
@define-color grn #9ece6a;
@define-color ylw #e0af68;
@define-color blu #7aa2f7;
@define-color mag #bb9af7;
@define-color cyn #7dcfff;
@define-color wht #a9b1d6;
