@import "mocha.css";

* {
  font-family: "Iosevka Nerd Font", "IBM Plex Sans Arabic";
  font-size: 14px;
  font-weight: 700;
  min-height: 0;
  border: none;
  box-shadow: none;
}

window#waybar {
  background: @crust;
  color: @text;
  border: 2px solid @mauve;
  border-top: none;
}

#workspaces,
#clock,
#network,
#pulseaudio,
#language,
#custom-distro {
  border-radius: 4px;
  color: @crust;
  margin: 8px 5px;
  padding: 0 14px;
  transition: all 180ms ease;
}

#modules-left > widget:first-child {
  margin-left: 15px;
}

#modules-left > widget:last-child {
  margin-right: 15px;
}

#modules-right > widget:first-child {
  margin-left: 15px;
}

#modules-right > widget:last-child {
  margin-right: 15px;
}

#workspaces {
  padding: 2px 6px;
}

#workspaces button {
  color: @overlay1;
  background: transparent;
  padding: 2px 7px;
  margin: 3px;
  border-radius: 4px;
  transition: all 180ms ease;
}

#workspaces button:hover {
  color: @crust;
  background: @yellow;
}

#workspaces button.active,
#workspaces button.focused {
  background: @teal;
  color: @crust;
}

#workspaces button.urgent {
  background: @red;
  color: @base;
}

#clock {
  background: @mauve;
}

#language {
  background: @yellow;
  min-width: 42px;
}

#pulseaudio {
  background: @blue;
}

#pulseaudio.muted {
  background: @overlay0;
  color: @text;
}

#network {
  background: @sky;
}

#network.disconnected {
  background: @red;
}

#custom-distro {
  font-size: 22px;
  font-weight: 900;
  color: @crust;
  background: linear-gradient(135deg, @red, @maroon);
}
