@define-color rosewater #f5e0dc;
@define-color flamingo #f2cdcd;
@define-color pink #f5c2e7;
@define-color mauve #cba6f7;
@define-color red #f38ba8;
@define-color maroon #eba0ac;
@define-color peach #fab387;
@define-color yellow #f9e2af;
@define-color green #a6e3a1;
@define-color teal #94e2d5;
@define-color sky #89dceb;
@define-color sapphire #74c7ec;
@define-color blue #89b4fa;
@define-color lavender #b4befe;
@define-color text #cdd6f4;
@define-color subtext1 #bac2de;
@define-color subtext0 #a6adc8;
@define-color overlay2 #9399b2;
@define-color overlay1 #7f849c;
@define-color overlay0 #6c7086;
@define-color surface2 #585b70;
@define-color surface1 #45475a;
@define-color surface0 #313244;
@define-color base #1e1e2e;
@define-color mantle #181825;
@define-color crust #11111b;

* {
  font-family: "Iosevka Nerd Font", "IBM Plex Sans Arabic";
  font-size: 14px;
  font-weight: 700;

  border: none;
  border-radius: 0;
  outline: none;
  box-shadow: none;
}

window {
  background: @crust;
  color: @text;

  border: 2px solid @mauve;
}

#outer-box {
  margin: 10px;
  padding: 0;
}

#scroll {
  margin: 0;
  padding: 0;
}

#inner-box {
  spacing: 4px;
}

/* Search box */

#input {
  background: @base;
  color: @mauve;
  padding: 10px 14px;
  margin-bottom: 10px;
}

#input,
#input *,
#input image,
#input text {
  color: @mauve;
}

#input:focus {
  background: @lavender;
  color: @crust;
}

#input:focus * {
  color: @crust;
}

/* Entries */

#entry {
  background: transparent;
  color: @subtext1;

  padding: 10px 12px;
  margin: 2px 0;

  transition: all 180ms ease;
}

#entry:hover {
  background: @surface1;
  color: @text;
}

#entry:selected {
  background: @teal;
  color: @crust;
}

#entry:selected * {
  color: @crust;
}

#text {
  color: inherit;
  margin-left: 10px;
}

#img {
  margin-right: 6px;
}
